.lottery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.logo {
    font-size: 30px;
    margin-bottom: 10px;
}

.play{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.play > button {
    height: 50px;
    width: 200px;
}